

@for $i from 1 through $col-count {
    .sm-#{$i} {
        width: ($i/$col-count) * 100%;
    }
}

@media screen and (min-width: $med) {
    @for $i from 1 through $col-count {
        .md-#{$i} {
            width: ($i/$col-count) * 100%;
        }
    }
}

@media screen and (min-width: $lg) {
    @for $i from 1 through $col-count {
        .lg-#{$i} {
            width: ($i/$col-count) * 100%;
        }
    }
}

.container {
    width: 100%;
}

.row {
    width: 100%;
}

.row:after {
    content: '';
    display: table;
    clear: both;
}

.col {
    display: block;
    float: left;
}

.text-center {
    text-align: center;
}

